<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pt.iscte.pidesco.classdiagram.FilterV2">
      <Filter
            DiagramFilterImpl="classdiagramfilterextension.ExtensionPointTestFilter"
            filterShortDescription="Display only classes and it&apos;s public members"
            filterText="Classes And Public Members">
      </Filter>
   </extension>

</plugin>
